<br>
<section id="edit_company">
    <form id="edit_company_form">
        <div class="mb-3">
            <input type="text" class="form-control" id="company_name" placeholder="Nombre">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="company_nit" placeholder="NIT">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="company_address" placeholder="Dirección">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="company_phone_number" placeholder="Teléfono">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Actualizar</button>
        </div>
    </form>
</section>

<%= javascript_pack_tag 'CompaniesCtrl', 'data-turbolinks-track': 'reload' %>